@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import "config";
@import "./components/header";

@include prepare-page;

body {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
}

.space-launch {
  display: flex;
  gap: 1.75rem;
  padding: 3.75rem 0 5rem 7.8rem;
  font-family: $primary-font-family;
  font-size: 1.75rem;
  line-height: 1rem;
  letter-spacing: 4.7px;

  span {
    font-weight: 700;
    opacity: 0.25;
  }
}

// MAIN SECTION

#technology-information {
  @include separate-element;
  padding: 0 0 0 7.5rem;

  .left-content {
    display: flex;
    margin-right: 1rem;

    .page-buttons {
      @include column-direction;
      justify-content: space-evenly;
      margin-right: 5rem;
      gap: 2rem;

      & div {
        width: 4.3rem;
        height: 4.3rem;
        border-radius: 50%;
        border: 1px solid #fff;
        @include center-element;
        font-family: $secondary-font-family;
        font-size: 2rem;
        line-height: 2.25rem;
        cursor: pointer;

        &.active-button {
          background-color: #fff;
          color: #0b0d17;
        }
      }
    }

    .technology-details {
      span {
        font-family: $primary-font-family;
        line-height: 1rem;
        letter-spacing: 2.7px;
        color: $primary-color;
      }

      h3 {
        font-family: $secondary-font-family;
        font-size: 3rem;
        margin: 1rem 0;
        text-transform: uppercase;
      }

      p {
        font-family: $primary-font-family;
        line-height: 2rem;
        color: $primary-color;
        max-width: 31rem;
      }
    }
  }

  .image {
    height: 25rem;
    width: auto;
  }
}

@import "./responsives/technology-responsive";
